.idea
.ipynb_checkpoints
.RDataFiles
.virtual_document
tests/*
/dask-worker-space/
/.vscode/
/.pytest_cache/
/home/
.pytest_cache


data
gee_examples
ServirSoilMoisture
trajectories/*.zip
trajectories/swarm_*
notebooks/._mv_iconlist_
notebooks/._mv_viewinfo_
ESRI docs
pdfs
credentials.ini
.mapbox_token

*.zip
*.nc
*.grb

/dask-worker-space/global.lock
/mulditim_info.txt
/multdim_info.txt
/dask-worker-space/purge.lock
/locust_modules/.mypy_cache
/locust_modules/__pycache__
/pycache__/
pycache__/.mapbox_token
.mapbox_token
/imerg_analysis/
*.nc4

/trajectories/matrix_7129/
/chirps_cumulated/precip.tif
/chirps_cumulated/precip.tif.aux.xml
/chirps_cumulated/precip.tif.ovr
/Locust Cube/*
/ee_js/*
/tests/*
